main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5vh;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
}

.myform {
    width: 45%;
    padding: 20px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 25px;
}
input,
select,
textarea,
button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

input[type="radio"],input[type="checkbox"]  {
    width: 20px; /* Ajusta el ancho según tus preferencias */
    height: 20px; /* Ajusta la altura según tus preferencias */
}


.field-block{
    display: flex;
    
}
.field-block input{
    margin: auto auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    row-gap: 2vh
}


form .info
{
    display: flex
}


form .choicer
{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    column-gap: 1vw;
    row-gap: 1vh;
}



form .choicer .c-selector
{
    display: flex;
    column-gap: 2vw;
}

form .inrow 
{
    display: flex;
}

form .field-block
{
    width: 100%;
    display: inline-block;
    padding-right: 25px;
}


form .field-block input
{
    width: 100%;
}


button {
    background-color: #19A7CE;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #146C94;
}


/*RESPONSIVIDAD*/

@media (max-width: 767px) {
    .myform {
        width: 90%;
        padding: 20px;
        background-color: #7FFFD4; /* Fondo de color acuamarina */
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        border-radius: 25px;
    }

    form .choicer .c-selector
    {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }
}