main {
    padding: 1vw;
}

.container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vw;
    column-gap: 2vh;
}

.sub_container {
    display: flex;
    flex-direction: column;
    width: 45vw;
    text-align: left;
    background: rgb(57, 0, 212);
    background: linear-gradient(225deg, rgba(57, 0, 212, 1) 0%, rgba(9, 120, 121, 1) 30%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 0.5px solid gray;
    border-radius: 15px;

}

.sub_container h1 {
    text-align: center;
    color: #bbb0b0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #bbb0b0;
    padding: 1vh;
    display: inline-block;
}

.sub_container video {
    max-height: 300px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.sub_container p {
    color: #e2e2e2;
    padding: 2vw;
}

@media (max-width: 767px) {
    .sub_container {
        width: 90vw;
    }

    .sub_container video {
        margin: auto;
    }

}