.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor_hijo {
    flex: 0 0 25%;
    text-align: left;
    background: rgb(57, 0, 212);
    background: linear-gradient(225deg, rgba(57, 0, 212, 1) 0%, rgba(9, 120, 121, 1) 30%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
    padding: 100px;
    border: 0.5px solid gray;
    border-radius: 15px;
}

.contenedor_hijo h1{
    text-align: center;
    color: #bbb0b0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #bbb0b0;
    padding-bottom: 10px;
    display: inline-block;
}

.contenedor_hijo p{
    color: #e2e2e2;
}