html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(rgba(234, 0, 255, 0.25) .1em, transparent .1em), linear-gradient(90deg, rgba(234, 0, 255, 0.25) .1em, transparent .1em);
    background-size: 10em 10em;
  }



.only-pc{

    visibility: hidden;
}

.bg-dark-25{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.front-link{
z-index: 1035;
}

.logo-sticky {
    display: flex;
    position: sticky;
    z-index: 0;
}


.con-photo{
    border-radius: 25px;
}

.con-photo img{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.about-text{
    width: 95%;
    font-size: large;
}

.about-text{
    width: 95%;
    font-size: large;
}

@media (max-width: 767px) {
    .about-text{
        width: 95%;
        font-size: medium;
    }
}


.container-info{
    margin-left: 10px;
    margin-right: 10px;
}

.container-social{
margin-left: 10px;
margin-right: 10px;
}
.navbar {
    z-index: 1035; /* Asegúrate de que es menor que el z-index del logo */
}

.sep{
    border-left: 2px solid white;
    height: 100%;
}

.sep-h{
    border-top: 3px solid #ff00dd;
    border-radius: 5px;
}



.logo-sticky{
    margin: auto;
}

.logo-size1{
    font-size: xxx-large;
    color:white;
    transition: 0.3s;
}

.logo-size1:hover{
    color:gray;
}


.skill-c1{
    width: 50%;
    display: block;
    background-color: rgba(24, 0, 56, 0.25);
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.Skills-Container .progressbar{
display: flex;
align-items: center;
}

.Skills-Container .progressbar .name{
    width: 8em;
}

.Skills-Container .progressbar span{
    padding: 1em;
}

.Skills-Container .progressbar .bar-back{
    display: flex;
    height: 5px;
    width: 100%;
    background-color: #77000a;
    position: relative;
    margin-bottom: 0;
}

.Skills-Container .progressbar .bar-fill{
    background-color: rgb(255, 0, 170);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.Skills-Container .progressbar .csharp{
    width: 0%;
    animation: 2s csharp forwards;
}

@keyframes csharp{
    0%{width: 0%;}
    100%{width: 90%;}
}

.Skills-Container .progressbar .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python{
    0%{width: 0%;}
    100%{width: 60%;}
}

.Skills-Container .progressbar .GML{
    width: 0%;
    animation: 2s GML forwards;
}
@keyframes GML{
    0%{width: 0%;}
    100%{width: 90%;}
}


.Skills-Container .progressbar .C4D{
    width: 0%;
    animation: 2s C4D forwards;
}
@keyframes C4D{
    0%{width: 0%;}
    100%{width: 55%;}
}

.Skills-Container .progressbar .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java{
    0%{width: 0%;}
    100%{width: 85%;}
}

.Skills-Container .progressbar .cpp{
    width: 0%;
    animation: 2s cpp forwards;
}
@keyframes cpp{
    0%{width: 0%;}
    100%{width: 25%;}
}

.Skills-Container .progressbar .office{
    width: 0%;
    animation: 2s office forwards;
}
@keyframes office{
    0%{width: 0%;}
    100%{width: 85%;}
}

.bg-black{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
}

.btn-outline-danger {
margin: auto;
}

.myform input{
    background-color: #131517;
}

.img-center{
    margin: auto;
}

.roundvideo{
    border-radius: 25px;
}

.myfooter{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}